.wrapper{
    text-align: center;
    border: 2px solid black;
    margin-top: 13%;
    margin-left: 17%;
    margin-right: 17%;
    
   padding-left: 1%;
   padding-right: 1%;
   padding-top: 8%;
   padding-bottom: 8%;
   border-radius: 12px;
   background-color: rgb(0, 208, 255);
    
}
