 *{
 font-family: Arial, Helvetica, sans-serif; 
}
body{
    text-align: center;
    background-color: grey;
}

.HEADER{
    text-align: center;
    color: gray;
    
}
.head{
    margin-top: 20px;
    text-align: center;
    color: black;
}
.box{
   
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 2%;
    padding: 1%;
    margin-left: 23%;
    background-color:grey;
    
}
.main{
    text-align: center;
}
.Name{
    width: 80%;
    margin: 1.5%;
    padding: 1%;
 border-radius: 6px;
 background-color: white;
 border-color: transparent;
    
}
.phone{
    width: 80%;
    padding: 1%;
    background-color:white;
    
}
.btn{
    color: white;
    width: 12%;
    margin: 1%;
    margin-top: 45px;
    padding: 0.8%;
    border-radius: 4px;
    background-color: green;
    border-color: transparent;
    cursor: pointer;
    width: 150px;
}
.name:hover {
    background: color #bad1c2;
    border-radius: 2px;
    border-color: red;
    
}
.btn:hover{
    
}
.shop{
    
color: black;
}
.a1{
    position: relative;
    top: 10%;
    margin-top: 45px;
}
.field{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
