.wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%;
    padding: 1%;
}
body{
    background-color: grey;
}

.name {
    width: 70%;
    border-color: grey;
    border-radius: 5px;
    margin: 1%;
    padding: 6px;
}

#this {
    width: 10%;
    margin: 2px;
    padding: 4px;
    background-color: violet;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
border-color: transparent;
    margin: 1%;
    padding: 2%;
    background-color: grey;
    height: 90%;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.your {
    display: inline-block;
    width: 10%;
    background-color: white;
    margin: 1%;
    padding: 1%;

}

a {
    text-decoration: none;
    color: red;
}

li {
    font-weight: bold;
    margin: 1%;
    list-style: none;
    display: inline;
    text-align: center;


}

li:hover {
    color: black;
}

.me {
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    padding: 1%;
    margin: auto;
    border-radius: 4px;

}

li.profile {
    font-weight: bold;
    margin: 1%;
    list-style: none;
    display: inline;
    text-align: center;


}

.p1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:transparent;
    position: relative;
    top: 10px;
    font-size: larger;
    color:black ;
    font-weight: 5px;


}

.p2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
}
.button{
    cursor: pointer;
}
.a{
    border-color: black 2px;
    border-radius: 3px;
}
.home{
    background-color:antiquewhite;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border-color: grey;
    cursor: pointer;
}
.logout{
  color: red;
  background-color: transparent;
  border-color: transparent;

}
